.git
.github
.env
.env.local
node_modules
vendor
.dist
tests
docs
.learnings
backend/uploads/receipts/*
!backend/uploads/receipts/.gitignore
backend/uploads/profiles/*
!backend/uploads/profiles/.gitignore
backend/uploads/promotions/*
!backend/uploads/promotions/.gitignore
